
    /***** Doc styles *****/
    * {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }

    body {
        font-family: Century Gothic; 
        font-size: 14px;
        width: 100%;
        background-color: rgb(0, 204, 255);
    }

    h1 {
        text-align: center;
        font-size: 175%;
        margin: 16px;
        text-shadow: 1px 1px black;
        color: white;
    }

    p {
        padding: 10px;
        color: black;
    }
    
    section {
        margin: 10px;
        height: 180px;
        background-color:rgb(193, 238, 231);
        border: 1px solid black;
    }

   
    .row{
        width: 98%;
        margin-right: auto;
        margin-left: auto;
    }

    #crete {
        width: 30%;
        position:relative;
        top: 0;
        left: 70%;
        background-color: rgb(162, 255, 0);
        font-size: 125%;
        text-align: center;
        text-shadow: 1px 1px #808080;
        border: 1px solid black;
    }
    #rhodes {
        width: 30%;
        position:relative;
        top: 0;
        left: 70%;
        background-color:rgb(255, 151, 0);
        font-size: 125%;
        text-align: center;
        text-shadow: 1px 1px #808080;
        border: 1px solid black;
    }
    #corfu {
        width: 30%;
        position:relative;
        top: 0;
        left: 70%;
        background-color: rgb(255, 253, 83);
        font-size: 125%;
        text-align: center;
        text-shadow: 1px 1px #808080;
        border: 1px solid black;
    }

    /***** Desktop layout *****/
    @media (min-width: 992px) {
    .col-lg-4, .col-lg-6, .col-lg-12 {
        float: left;
    }
    .col-lg-4 {
        width: 33%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-12 {
        width: 100%;
    }
}